  <link rel="stylesheet" type="text/css" href="/styles/style.css">


 <div class="container">
  <div class="contenedor">
  <form action="/artist-search" method="GET">
    <input type="text" class="search" name="artist"  required><br>
    <button type="submit">Search for an artist</button>
  </form>
  </div>
 </div>
